.toggleWrapper {
  margin-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggleWrapper input.mobileToggle {
  opacity: 0;
  position: absolute;
}
.toggleWrapper input.mobileToggle + label {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.4s ease;
  height: 24px;
  width: 45px;
  border-radius: 60px;
}
.toggleWrapper input.mobileToggle + label:before {
  content: "";
  position: absolute;
  display: block;
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  height: 24px;
  width: 45px;
  top: 0px;
  left: 0px;
  border-radius: 30px;
}
.toggleWrapper input.mobileToggle + label:after {
  content: "";
  position: absolute;
  display: block;
  box-shadow: 0 0 1px 0 rgb(8 11 14 / 6%), 0 16px 16px -1px rgb(8 11 14 / 10%);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  background: #fff;
  height: 18px;
  width: 18px;
  top: 3.5px;
  left: 3px;
  border-radius: 60px;
}
.toggleWrapper input.mobileToggle:checked + label:before {
  background: #2ecc71;
  transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
}
.toggleWrapper input.mobileToggle:checked + label:after {
  left: 24px;
}

#toggleBg {
  background-color: rgb(201 206 214);
  cursor: pointer;
}

.controls {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  z-index: 22;
  top: 16px;
  left: 8px;
  margin-top: 20px;
  position: sticky;
  height: 100%;
  border-radius: 5px;
  padding: 20px 24px;
  background: var(--bg-controle);
  transition: all 0.5s ease;
  gap: 12px;
  align-items: baseline;
  border: 1px rgb(229, 231, 235) solid;
}

.export {
  background: rgba(255, 99, 99, 0.15);
  border-radius: 5px;
  color: #ff6363;
  padding: 14px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  gap: 10px;
  font-family: monospace;
  margin-top: auto;
  align-self: stretch;
  justify-content: center;
}
.export > svg {
  margin-left: 10px;
  fill: #ff6363;
}

.form-setting {
  display: grid;
  grid-template-areas:
    "label"
    "slot";
  grid-gap: 9px;
}
.form-setting > span {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #999;
  font-weight: 500;
  font-family: system-ui;
  user-select: none;
  cursor: default;
  white-space: nowrap;
  width: 100%;
}

.text-editor > .textareaTyping {
  width: 100%;
}

.ant-input-affix-wrapper-textarea-with-clear-btn .ant-input-clear-icon {
  top: 8px !important;
  right: 15px !important;
}

textarea::-webkit-scrollbar {
  width: 0.5em;
  cursor: default;
}

textarea::-webkit-scrollbar-track {
  cursor: default;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

textarea::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  cursor: default;
  border-radius: 99px;
  height: 98px;
}

textarea {
  font-size: 16px;
  color: #111827;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 0.7px;
}

.shadowx {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  height: 100%;
  width: 100%;
}

.shadowx:after {
  position: absolute;
  content: "";
  left: 0;
  top: 24px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateZ(-1px);
  filter: blur(30px);
  z-index: -1;
}

.backgroundcolor-selector > .ant-select-selector > .ant-select-selection-item {
  display: flex;
  align-items: center;
}

.circleColor {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.ant-select-dropdown {
  position: fixed !important;
}

.fixed-widgets {
  position: fixed;
  right: 32px;
  bottom: 102px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.fixed-widgets > .avatar {
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 22px;
  color: #000;
  background-color: #fff;
  transition: color 0.3s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-popover-inner-content > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #757575;
  font-family: "IBM Plex Sans";
}

.ant-popover-inner-content > div > p {
  transition: 0.3s;
  cursor: pointer;
}
.ant-popover-inner-content > div > p:hover {
  color: #111827;
}

/*? editor */
.text-editor {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px;
}

.highlite {
  padding: 64px;
}

#syntaxHighlighterCode {
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 60%);
}

.text-editor > .highlite {
  width: 100%;
}

.highlite > pre {
  border-radius: 0 0 12px 12px !important;
  margin: 0 !important;
}

.app-header-frame {
  padding: 0px 10px;
  display: grid;
  grid-template-columns: 60px auto 60px;
  background-color: black;
  height: 35px;
  border-radius: 12px 12px 0 0;
}

.app-header-frame > .title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title input {
  user-select: text;
  outline: none;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  background: transparent;
  text-align: center;
  color: #ffffff99;
  font-family: "IBM Plex Sans";
}

.frame-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-header-frame > .frame-controls > * {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #ffffff33;
  margin-right: 8px;
}
/*? editor */

.ant-select-selector {
  border-radius: 5px !important;
  border-color: var(--select-border) !important;
  background: transparent !important;
  color: #999 !important;
}

.ant-select-arrow {
  .anticon {
    svg {
      fill: var(--select-border) !important;
    }
  }
}

// .site-form-in-drawer-wrapper {
//   position: absolute;
//   right: 0px;
//   bottom: 0px;
//   width: 100%;
//   padding: 10px 16px;
//   text-align: right;
//   background: #fff;
//   border-top: 1px solid #e9e9e9;
// }
// [data-theme="dark"] .site-form-in-drawer-wrapper {
//   border-top: 1px solid #303030;
//   background: #1f1f1f;
// }
#description {
  border-radius: 5px !important;
}
.anticon-close {
  padding-bottom: 6px !important;
}
.ant-select-multiple {
  .ant-select-selector {
    border-color: #d9d9d9 !important;
  }
}

.text-editor {
  .highlite {
    border-radius: 0 !important;
    pre {
      max-height: none !important;
      scroll-behavior: smooth;
      overflow: auto;
      user-select: auto;
    }
  }
}
