.feed__app {
  display: flex;
  justify-content: center;
  height: 100%;

  .feed__sidebar {
    flex: 0.2;
  }

  .feed__main {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .feed__news {
    flex: 0.2;
  }
}
