.feed__app {
  display: flex;
  justify-content: center;
  height: 100%;

  .feed__sidebar {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-left: 18px;
  }

  .feed__main {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
    padding-bottom: 30px;
  }

  .feed__news {
    flex: 0.2;
  }
}

@media (max-width: 1025px) {
  .feed__news,
  .feed__sidebar {
    background-color: red !important;
    display: none !important;
    flex: 0 !important;
  }
}
